<footer class="page-footer font-medium text-dark">
  <div class="footer-copyright text-center">
    <ul>
      <a href="https://www.linkedin.com/in/akash-sardar-118858184/"
        ><i class="fa fa-linkedin"></i
      ></a>
      <a href="https://github.com/ACashSardar"><i class="fa fa-github"></i></a>
      <a href="https://www.facebook.com/akash.sardar.1717"
        ><i class="fa fa-facebook"></i
      ></a>
      <a href="https://www.instagram.com/lazer.kitty/"
        ><i class="fa fa-instagram"></i
      ></a>
      <a href="https://twitter.com/AkashSa50571000"
        ><i class="fa fa-twitter"></i
      ></a>
    </ul>
    <label>Copyright © 2022 Akash Sardar, All rights reserved.</label><br />
  </div>
</footer>

<script src="js/source.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
  integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
  crossorigin="anonymous"
></script>
